{% extends "base.html" %} {% block content %}
<!-- News Section -->
<section class="news" id="news">
  <div class="container">
    <h2 class="section-title scroll-animate">So'nggi Yangiliklar</h2>
    <div class="news-grid">
      {% for news in NewsListView %}
      <article class="news-card scroll-animate">
        <img
          class="news-image"
          src="{{ news.card_image.url }}"
          alt="{{ news.title }}"
        />
        <div class="news-content">
          <div class="news-date">{{ news.created_at }}</div>
          <h3 class="news-title">{{ news.title }}</h3>
          <p class="news-excerpt">{{ news.description }}</p>
          <a href="{% url 'news_detail' news.slug %}" class="read-more"
            >Batafsil o'qish →</a>
        </div>
      </article>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
