{% extends "base.html" %}
{% block content %}

<section class="news" id="news">
  <div class="container">
    <h2 class="section-title scroll-animate">So'nggi Yangiliklar</h2>

    <div class="news-grid">
      {% for news in news_list %}
      <article class="news-card scroll-animate">

        {% if news.card_image %}
          <img class="news-image"
               src="{{ news.card_image.url }}"
               alt="{{ news.title }}">
        {% endif %}

        <div class="news-content">
          <p class="news-date">{{ news.created_at }}</p>

          <h3 class="news-title">{{ news.title }}</h3>

          <p class="news-excerpt">
            {{ news.content|truncatewords:20|safe }}
          </p>

          <!-- 🔥 TAGLAR -->
          <div class="tags">
            {% for tag in news.tags.all %}
              <a href="{% url 'tag_detail' tag.slug %}" class="tag">
                #{{ tag.name }}
              </a>
            {% endfor %}
          </div>

          <a href="{% url 'news_detail' news.slug %}" class="read-more">
            Batafsil o'qish →
          </a>
        </div>

      </article>
      {% endfor %}
    </div>

  </div>
</section>

{% endblock %}